
<div class="row container-fluid">
    <img class="profilepic col-md-6" [src]="aboutData.profilepic">
    <div class="col-md-6 info-profile">
        <h2 id="name">{{aboutData.name}} <a>  <i class="fa fa-pen"></i></a></h2>
        <h4 id="position">{{aboutData.position}}</h4>
        <a [href]="aboutData.linkcv" target="_blank" class="btn btn-secondary">Ver CV</a>
    </div>
</div>
    <div class="container-fluid about">
        <div class="container">
            <h2 class="title-section header">Acerca de<a><i class="fa fa-pen"></i></a></h2>
            <p>{{aboutData.about}}</p>
        </div>
        
    </div>

    <hr>