<hr>
<div class="container">
    <h3 class="title-section">Habilidades</h3>
    <div class="row">
        <div class="col-lg-4 col-sm-12">
            <div class="container header">
                <h4>Front-End</h4> 
                <a href=""><i class="fa fa-plus"></i></a>
            </div>
            
            <div class="item-progress" *ngFor="let skill of frontendSkillsData">
                <div class="row">
                    <div class="col">
                        <h5><i [class]="skill.iconclass"></i> {{skill.title}}</h5>
                    </div>
                    <div class="col icons-edit">    
                            <a href=""><i class="fa fa-pen"></i></a>
                            <a href=""><i class="fa fa-trash"></i></a>
                    </div>
                </div>
                  <div class="progress">  
                    <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" [ngStyle]="{'width':skill.progress}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>           
        </div>
        <div class="col-lg-4 col-sm-12">
            <div class="container header">
                <h4>Back-End</h4> 
                <a href=""><i class="fa fa-plus"></i></a>
            </div>
            <div class="item-progress" *ngFor="let skill of backendSkillsData">
                <div class="row">
                    <div class="col">
                        <h5><i [class]="skill.iconclass"></i> {{skill.title}}</h5>
                    </div>
                    <div class="col icons-edit">    
                            <a href=""><i class="fa fa-pen"></i></a>
                            <a href=""><i class="fa fa-trash"></i></a>
                    </div>
                </div>
                  <div class="progress">  
                    <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" [ngStyle]="{'width':skill.progress}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
            </div>     
        </div>
        <div class="col-lg-4 col-sm-12">
            <div class="container header">
                <h4>Soft skills</h4> 
                <a href=""><i class="fa fa-plus"></i></a>
            </div>
            <div class="item-progress" *ngFor="let skill of communicationSkillsData">
                <div class="row">
                    <div class="col">
                        <h5><i [class]="skill.iconclass"></i> {{skill.title}}</h5>
                    </div>
                    <div class="col icons-edit">    
                            <a href=""><i class="fa fa-pen"></i></a>
                            <a href=""><i class="fa fa-trash"></i></a>
                    </div>
                </div>
                  <div class="progress">  
                    <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" [ngStyle]="{'width':skill.progress}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
            </div>
        </div>
    </div>
</div>